<%- model_class = User -%>
<div class="page-header">
  <h1>Cadastro de Usuários <%= image_tag('user.png') %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_user_path,
              :class => 'btn btn-primary' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name('nome') %></th>
      <th><%= model_class.human_attribute_name('email') %></th>
      <th><%= model_class.human_attribute_name('senha') %></th>
      <th><%= model_class.human_attribute_name('criado em') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%=l user.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      user_path(user), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(user), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'excluir',
                        user_path(user), method: :delete, data: { confirm: 'Você tem certeza?' },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
