<%- model_class = Item -%>
<div class="page-header">
  <h1>Dashboard <%= image_tag('dashboard') %> <%= link_to 'Venda delivery', new_desk_order_path, class: 'btn btn-warning btn-md' %></h1>
</div>

<div class="col-sm-6">
<div class="panel panel-primary">
<div class="panel-heading"><h4>Analise gráfica de mesas abertas por hora</h4></div>
<div class="panel-body">
  <% ActiveRecord::Base.default_timezone = :utc %>
  <%= line_chart DeskOrder.group_by_hour(:created_at).count %>
  <% ActiveRecord::Base.default_timezone = :local %>
</div>
</div>
</div>

<div class="col-sm-6">
<div class="panel panel-primary">
<div class="panel-heading"><h4>Analise gráfica de consumidores por dia da semana</h4></div>
<div class="panel-body">

<% ActiveRecord::Base.default_timezone = :utc %>
<%= column_chart DeskOrder.group_by_day_of_week(:created_at, format: "%a").count %>
<% ActiveRecord::Base.default_timezone = :local %>

</div>
</div>
</div>

<div class="col-sm-9">
<div class="panel panel-primary">
<div class="panel-heading"><h4> Mesas em uso</h4></div>
<div class="panel-body">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Mesa</th>
        <th>Total R$</th>
        <th>Status</th>
        <th>Forma pagto solicitada</th>
        <th>Aberto em</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @desk_orders.each do |desk_order| %>
        <tr>
          <td><%= desk_order.qrpoint.description %></td>
          <% if desk_order.total.present? %>
          <td>R$ <%= number_with_precision(desk_order.total, precision: 2) %></td>
          <% else %>
          <td>R$ 0,00</td>
          <% end %>
          <td><%= desk_order.status %></td>
          <% if desk_order.status == 'Solicita o fechamento' %>
          <td><%= desk_order.form_payment.type_payment %></td>
          <% else %>
          <td></td>
          <% end %>
          <td><%= desk_order.created_at.strftime("%H:%M") %></td>
          <td>
            <% if desk_order.status == 'Em uso' %>
              <%= link_to 'Fechar mesa', desk_order_path(desk_order), :class => 'btn btn-success btn-xs' %>
            <% else %>
              <%= link_to 'Fechar mesa', desk_order_path(desk_order), :class => 'btn btn-danger btn-xs' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
</div>
</div>

<div class="col-sm-3">
<div class="panel panel-primary">
<div class="panel-heading"><h4>Mesas Livres</h4></div>
<div class="panel-body">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Mesa</th>
        <th>Status</th>

      </tr>
    </thead>
    <tbody>
      <% @desk_orders_opened.each do |desk_order| %>
        <tr>
          <td><%= desk_order.description %></td>
          <td><%= desk_order.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
</div>
</div>
