<%= form_for @desk_order, :html => { :class => "form-horizontal desk_order" } do |f| %>

  <% if @desk_order.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@desk_order.errors.count, "error") %> prohibited this desk_order from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @desk_order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label 'Celular do cliente', :class => 'control-label col-lg-2' %>
      <div class="col-lg-2">
        <% if @desk_order.destinatario_id.present? %>
  	   <%= f.autocomplete_field :destinatario_id, autocomplete_destinatario_celular_destinatarios_path, :id_element => '#pega_id', :value => @invoice.destinatario.telefone_destinatario, :class => 'form-control',placeholder: 'Digite o telefone:', id: 'ofone' %>
  	  <% else %>
  	  <%= f.autocomplete_field :destinatario_id, autocomplete_destinatario_celular_destinatarios_path, :id_element => '#pega_id', :class => 'form-control',placeholder: 'Digite o numero:', id: 'ofone' %>
  		 <% end %>
  		 <%= f.hidden_field :destinatario_id, :id => "pega_id" %>
      </div>
      <%=f.error_span(:destinatario_id) %>
    </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Salvar', data: { disable_with: "Processando..." }, :class => 'btn btn-primary' %>
      <%= link_to 'Novo cliente', new_cliente_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :class => 'btn btn-primary'}  %>
      <%= link_to 'Cancelar', desk_orders_path, class: 'btn btn-default btn-md' %>
    </div>
  </div>

<% end %>

<div align="center">
	<%= image_tag("delivery.png")%>
</div>
