<style type="text/css">
	@media print {
    #printbtn {
        display :  none;
    }

    @media print {
  a[href]:after {
    content: none !important;
  }
}
}

#printOnly {
   display : none;
}

@media print {
    #printOnly {
       display : block;
    }
}
</style>

<style media="screen">
#div2{
	float:right;
	padding-right:1px;
}
</style>

<%- model_class = DeskOrder -%>
<div class="page-header">
  <h1>Vendas <%= image_tag('menu.png') %></h1>
  <div id="printOnly">
    Gerado em: <%= Time.now.strftime("%d/%m/%Y %H:%M") %><br />
  </div>
  <%= form_tag(desk_orders_path, method: :get) do %>

    <div class="form-group" id="printbtn">
    <div class="row">
        <div class="col-lg-2">
    Consulta por data de venda:
    <%= date_field_tag(:date1,params[:date1], placeholder: 'data inicial', class: 'form-control') %>
    <%= date_field_tag(:date2,params[:date2], placeholder: 'data final', class: 'form-control') %>
    </div>
    </div>
    <br />
    <%= submit_tag "Consultar", class: 'btn btn-success' %>
    <button type="button" id ="printbtn" class="btn btn-success", onclick ="window.print();return false;">Imprimir</button>

  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name('Mesa') %></th>
      <th><%= model_class.human_attribute_name('Forma pagamento') %></th>
      <th><%= model_class.human_attribute_name('total R$') %></th>
      <th><%= model_class.human_attribute_name('status') %></th>
      <th><%= model_class.human_attribute_name('criado em') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @desk_orders.each do |desk_order| %>
      <tr>
        <td><%= link_to desk_order.qrpoint.description, desk_order_path(desk_order) %></td>
        <td><%= desk_order.form_payment.type_payment %></td>
        <% if desk_order.total.present? %>
        <td>R$ <%= number_with_precision(desk_order.total, precision: 2) %></td>
        <% else %>
        <td>R$ 0.00</td>
        <% end %>
        <td><%= desk_order.status %></td>
        <td><%=l desk_order.created_at %></td>
        <td>

					<!-- LINK PARA A DANFE (NF EMITIDA) -->
          <% if desk_order.url_danfe.present? && desk_order.caminho_xml_cancelamento.blank? %>
 	          <!-- verifica se é uma NFe ou NFCe porque são carregadas diferentemente -->
 	                   <%= link_to 'NFCe', desk_order.url_danfe, target: '_blank', class: 'btn btn-primary btn-xs' %>
           <% end %>

 	         <!-- LINK PARA O XML DA DANFE - FICARÁ DISPONIVEL EM TODOS OS CASOS -->
 	          <% if desk_order.url_danfe.present? %>
 	           	<%= link_to 'XML', desk_order.url_xml, download: 'data', class: 'btn btn-primary btn-xs' %>
                  <% end %>


          <%= link_to t('.show', :default => t("helpers.links.show")),
                      desk_order_path(desk_order), :class => 'btn btn-default btn-xs', id: "printbtn" %>

					<% if desk_order.status == 'Aberta' || desk_order.status == 'Em uso' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_desk_order_path(desk_order), :class => 'btn btn-default btn-xs', id: "printbtn" %>
					<% end %>

					<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      desk_order_path(desk_order),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger', id: "printbtn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="col-md-3 text-right" id="div2">
 <div class="panel panel-default">
 <div class="panel-heading"><h4>Resumo geral</h4></div>
<div class="panel-body">

	<%if @total_por_forma_pagamento.present? %>
	<% @total_por_forma_pagamento.each do |resultado| %>
		Total <%= resultado.type_payment %>: <b>R$ <%= number_with_precision(resultado.total, precision: 2) %></b><br />
	<% end %>
	<% end %>
</div>

<% if @total_receipts != 0 %>
<h3>Total geral R$: <b><%= number_with_precision(@total_desk_orders, precision: 2) %></b></h3>
<% end %>
</div>
</div>
</div>
