<script>
$(document).ready(function() {
    $('#check_stock').click(function() {
        if($(this).is(":checked"))
        {
          $("#qnt").val('0');
          $("#qnt").focus();
        } else {
            $('#qnt').val('');
            $('#cfop').focus();
        }
    });
});
</script>

<%= form_for @product, :html => { :class => "form-horizontal product" } do |f| %>

  <% if @product.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label 'Cód barras', :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.text_field :barcode, :class => 'form-control' %>
    </div>
    <%=f.error_span(:barcode) %>
  </div>

  <div class="form-group">
    <%= f.label 'nome', :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label 'descrição', :class => 'control-label col-lg-2' %>
    <div class="col-lg-3">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label 'Unid medida', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
     <%= f.select(:unidade_comercial, options_for_select([["BD"], ["CJ"], ["CM"], ["CX"], ["DZ"], ["FD"], ["GL"], ["GR"], ["KG"], ["LT"], ["M2"], ["M3"], ["MG"], ["ML"], ["MM"], ["MT"], ["PR"], ["PC"], ["UN"]], @product.unidade_comercial), {include_blank: 'Selecione'}, :class => 'form-control') %>
      </div>
    <%=f.error_span(:unidade_comercial) %>
  </div>
  <div class="form-group">
    <%= f.label "controlar estoque?", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :check_stock, id: 'check_stock' %>
    </div>
    <%=f.error_span(:check_stock) %>
  </div>
  <div class="form-group">
    <%= f.label 'Quant', :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.text_field :qnt, :class => 'form-control', id: 'qnt', :maxlength=> '6' %>
    </div>
    <%=f.error_span(:qnt) %>
  </div>
  <div class="form-group">
    <%= f.label 'valor', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :value, :class => 'form-control', id: 'real' %>
    </div>
    <%=f.error_span(:value) %>
  </div>

  <div class="form-group">
      <%= f.label 'Categoria', :class => 'control-label col-lg-2' %>
      <div class="col-lg-3">
        <%= f.collection_select(:category_id, @categories, :id, :name, {include_blank: 'Selecione a categoria'}, :class => 'form-control') %>
      </div>
      <%=f.error_span(:category_id) %>
  </div>

    <div class="form-group">
    <%= f.label 'local impressão', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
    	<%= f.select(:local_print, options_for_select([["Balcão"], ["Cozinha"]], @product.local_print), {include_blank: 'Selecione'}, :class => 'form-control') %>
	</div>
    <%=f.error_span(:local_print) %>
  	</div>

    <div class="form-group">
      <%= f.label 'NCM', :class => 'control-label col-lg-2' %>
      <div class="col-lg-1">
        <%= f.text_field :codigo_ncm, :class => 'form-control', id: 'ncm' %>
      </div>
      <%=f.error_span(:codigo_ncm) %>
    </div>

    <div class="form-group">
      <%= f.label 'Imagem', :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
      <%= f.file_field :image, :class => 'form-control' %>
    </div>
  	  <% if f.object.image? %>
  	      <%= f.check_box :remove_image  %>
  	      <%= f.label 'Remover imagem' %>
  	  </div>
  	    <%=f.error_span(:remove_image) %>
  	  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
