<%- model_class = Product -%>
<div class="page-header">
  <h1>Produto</h1>
</div>
<%= image_tag(@product.image_url.to_s) %>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name('nome') %>:</strong></dt>
  <dd><%= @product.name %></dd>
  <dt><strong><%= model_class.human_attribute_name('qnt') %>:</strong></dt>
  <dd><%= @product.qnt %></dd>
  <dt><strong><%= model_class.human_attribute_name('Valor R$') %>:</strong></dt>
  <dd><%= @product.value %></dd>
  <dt><strong><%= model_class.human_attribute_name('Categoria') %>:</strong></dt>
  <dd><%= @product.category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name('Local impressão') %>:</strong></dt>
  <dd><%= @product.local_print %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
